 /*$(".ui-widget-header").css("height", "7px");*/

 /*                $(".ui-dialog-title").css("position", "absolute");*/
 /*                $(".ui-dialog-title").css("top", "0px");*/
 /*                $(".ui-dialog-title").css("left", "0px");*/
   
                 
 

.ui-widget-header{
    height: 7px;
}                
 
.ui-dialog-title{
    position: absolute;
    top: 0px;
    left: 0px;
}                 
                 

/* dialog button positioning */
.dialogfooter{
    bottom: 5px;
    position: absolute;
}

.dialogContent{
    height: 150px;
    position: absolute;
}



#debugoutput{
    
    height: 200px;
    margin-top: 5px;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: indigo;
    color: chartreuse;
}




.save{
    margin-top :4px;
    margin-right :3px;
    float: left;
    width: 220px;
    text-align: right;   
}
.new{
    margin-top :4px;
    float: left;
    width: 50px;
    text-align: right;   
}




canvas {
    position: absolute;
    top:0px;
    left: 0px;
    z-index:-1;
}

#txtChosenColour{
    display: inline;
    width: 80px;
}

#optionGroup {
    border-width : 3px;
    border:blue;
    margin-top: 10px;
    margin-bottom:10px;
    
}

#optionGroup input {
    margin: 3px;
   
}

#optionGroup select {
    margin: 3px;
   
}

#optionGroup div {
    margin-top: 3px;
   
}


#dataInfo b {
    display: block;
    font-size: 8pt;
}


#dataInfo input[type=text] {
    display: block;
    height: 18px;
}

.displayPanel
{
    display: block;
}
    
.hidePanel
{
    display: none;
}
    
.info {position: absolute;}
