/* meta data buttons etc*/

.metadialog{
    width: 293px !important; /* // jquery is shit!*/
}

#map_metadata{
    padding:0px;
}



.meta-top-label{
    
}


.mSave{
    float: left;
    width: 88px;
    margin-top : 10px;
    margin-right:5px;
}

.mAdd{
    float: left;
    width: 88px;
    margin-top : 10px;
    margin-right:5px;
}

.mCancel{
    float: left;
    width: 88px;
    margin-top : 10px;
   
}



.metaDrops{
    width: 285px;
}


.borderedSelectionBox{
    border:thin;
    border-color: black;
    border-style: solid;
    width: 285px;
}


